extends layout

block content

  .row.mainBox
    .col-lg-1.col-md-0
    .home-cnt.col-lg-10.col-md-12
      img.homepageLogo(src='/images/Gamium.png')

      .title-panel
        .title-content-box
          h1.title-text Welcome to Gamium!
      
          form(action="https://gamium.gg/sr" method='POST')
            .hpsbd.row.mx-auto.w-100
              input.form-control.bg-dark.text-light.hs-bar(type='search' name='search' placeholder='Search for any PC game and find the best price!')
              button.btn.btn-outline-success.hs-btn.searchBtn.btn-home-full(type='submit') Search 
              button.btn.btn-outline-success.searchBtn.btn-home-mobile(type='submit')
                i.fa.fa-search
      
          p.mt-4.quickEx Gamium compares real-time prices for Steam games accross The Steam Store, G2A, Kinguin, and GOG.com so you never pay more than you have to for a game!
    .col-lg-1.col-md-0


       