doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script(src='/javascripts/ads.js')

  body(style='background-color:#333333; color:#28d693;')

    .navbar.navbar-default.bg-dark.sticky-top(style='opacity:0.85;')

      a.navbar-brand.col-xs-12(href='/')
        img(src='/images/Gamium.png' style='width:8vw;')

      form.form-inline
        button.btn.btn-outline-success.mr-2
          i.fa.fa-search
        input.form-control(type='search' placeholder='Search for Game Deals' style='width:30vw; background-color:#333333;')


    block content

    .navbar.bg-dark.pt-3.row
      a.ml-2.pb-4(href='/')
        img(src='/images/Gamium.png' style='width:12vw;')

      .navbar-text
        p.text-muted.mb-0 &copy; Gamium Inc. 2018. All Rights Reserved

      form.form-inline.mr-3.pb-4
        button.btn.btn-outline-success.mr-2
          i.fa.fa-search
        input.form-control(type='search' placeholder='Search for Game Deals' style='width:30vw; background-color:#333333;')



    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')


