doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="ecommerce-api-site-verification", content="Yzk2YzJiOWVkNTNjYzVmOTg2MDdhMThmMzcyZmFlNWU=")
    title= title

    link(rel='icon', type='image/ico', href='/images/favicon.ico')

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/angular/angular.min.js')
    script(src='/angular/prices.js')
    script(async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-145073802-1')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8344348544481342",
        enable_page_level_ads: true
      });
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145073802-1');


  body

    // TODO: Integrate with Angular or keep native JS
    script.
      var changeDropdown = function() {
        console.log("Changing the dropdown");
        openDropdown = !openDropdown;
        console.log(openDropdown);

        var x = document.getElementById("navbar-mobile");
        console.log(x);
        if (openDropdown) {
          x.className = "navbar-show";
        } else {
          x.className = "navbar-hide";
        }
      }

    .gamium-navbar
      a.gamium-logo-left(href='/')
        img(src='/images/Gamium.png' style='width:100px;')

      .navbar-right
        a.nav-link(href='/contact') 
          .nav-link-text Contact / Bug Report
        form.form-inline.nav-form.input-group(action="https://gamium.gg/sr" method='POST') 
          input.form-control.text-light.topSearch(type='search' name='search' placeholder='Search for Game Deals')
          button.btn.btn-outline-success.searchBtn(type='submit')
            i.fa.fa-search
      #navbar-mobile-bars
        // TODO: Integrate with Angular or keep native JS
        //i.fa.fa-search.fa-2x(ng-click="changeDropdown()", style="float:right;")
        i.fa.fa-search.fa-2x(onclick="changeDropdown()", style="float:right;")
    #navbar-mobile.navbar-hide
      .navbar-mobile-content
        form.form-inline.nav-form-mobile(action="https://gamium.gg/sr" method='POST') 
          input.form-control.text-light.topSearch(type='search' name='search' placeholder='Search for Game Deals')
          button.btn.btn-outline-success.searchBtn(type='submit')
            i.fa.fa-search

    block content

    footer
      
      //.footer-line
       // a(href='/')
        //  img.footer-logo(src='/images/Gamium.png')
      
      .footer-line
        .footer-text
          p(style='text-align:center;') &copy; Gamium Inc. 2019. All Rights Reserved

      
      // form.form-inline.mr-3.pb-4(action="https://gamium.gg/sr" method='POST')
        // button.btn.btn-outline-success.mr-2.searchBtn(type='submit')
          // i.fa.fa-search
        // input.form-control.text-light.bottomSearch(type='search' name='search' placeholder='Search for Game Deals' style='width:30vw; background-color:#333333;')


    
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script.
      adblock = true;
    script(src='/javascripts/adframe.js')
    script.
      if (adblock) {
        alert("AdBlock Detected! Please disable ad block, we have to pay server fees to keep saving our users money, so please disable AdBlock so we can keep doing what we do: saving gamers money and time");
      }
    


