body {
  padding: 0px;
  margin: 0px;
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #222222;
  color: #28d693;
}

a {
  color: #00B7FF;
}

.navbar {
	margin: 0px;
	padding: 0px;
	height: 7vh;
	background-color: #282828;
	opacity: 0.9;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.logo {
	display: inline-block;
	height: 100%;
	width: 20vh;
	float: left
}

.faq {
	float: right;
	text-decoration: none;
	color: #28d693;
	padding-right: 2vw;
	padding-left: 2vw;
	padding-top: 2.3vh;
	padding-bottom: 2.2vh;
	font-size: 2vh;
	font-weight: bold;
	border-left: 1px solid #858585;
}

.search {
	float: left;
	margin-left: 40vh;
	margin-top: 1.5vh;
}

.searchbar {
	width: 28vw;
	height: 4vh;
	margin-top: 0vh;
	padding-top: 0vh;
	padding-left: 3vw;
	background-color: #404040;
	border: none;
	outline: none;
	font-size: 2vh;
}

.searchicon {
	
}

.searchbutton {
	margin-top: 0vh;
	height: 4vh;
	width: 4vh;
	border: none;
	outline: none;
	background-color: #333333;
	position: absolute;
}

.dmz {
	height: 7vh;
}

footer {
	background-color: #282828;
	height: 17vh;
	opacity: 0.9;
}

footer ul {
	list-style-type: none;
}

.footer-nav {
	margin-left: 3vw;
	margin-right: 0vh;
	padding-top: 1vh;
	display: inline-block;
	float: left;
	line-height: 4vh;
}

.socialbtn {
	/*border: 0.5px solid #28d693;
	border-radius: 3px;
	margin-top: 0.5vh;
	padding-right: 0.5vw;
	padding-left: 0.5vw;*/
}

footer li a {
	text-decoration: none;
	color: #28d693;
}

.footer-search {
	margin: 0vh;
	margin-top: 5vh;
	margin-left: 18vw;
	float: left;
}

.sl {
	margin-right: 8vw;
}

.socials {
	font-size: 3vh;
	float: right;
}

.socials img {
	height: 3vh;
	width: 3vh;
}

.copy {
	padding: 0px;
	margin: 0px;
	display: block;
	margin-top: 4vh; 
	padding-top: 10vh;
	text-align: center;
	font-size: 2vh;
	color: #424242;
}

.games {
	margin-top: 8vh;
	margin-left: 18vw;
	margin-right: 18vw;
}

.topSellersTitle {
	font-size: 4vh;
	ma
}

.tsl {
	-webkit-columns: 8vw 2; /* Chrome, Safari, Opera */
    -moz-columns: 8vw 2; /* Firefox */
    columns: 8vw 2;
    list-style-type: none;
    text-decoration: none;
}

.listGame {
	background-color: #404040;
	width: 28vw;
	margin-bottom: 5vh;
	padding-bottom: 1vh;
}

.gameLink {
	text-decoration: none;
}

.tsImg {
	width: 28vw;
}

.tsInfo {
	padding-left: 1vw;
}

.tsName {
	display: inline;
	font-size: 2.5vh;
	color: #28d693;
}

.tsDev {
	color: #28d693;
	display: inline;
	font-size: 1.5vh;
}

.tsPrice {
	color: #28d693;
	display: inline;
	float: right;
	margin: 0;
	margin-right: 1vw;
	font-size: 2vh
}

.contact {
	margin-left: 20vw;
}

.contactTitle {
	font-size: 5vh;
}


@media only screen and (max-width: 450px) {
    .searchbar {
    	padding-left: 14vw;
    }
}

@media only screen and (max-width: 675px) {
    .faq {
    	display: none;
    }

    .tsl {
		-webkit-columns: 50vw 1; /* Chrome, Safari, Opera */
    	-moz-columns: 50vw 1; /* Firefox */
    	columns: 50vw 1;
    	margin-right: 25vw;
    }

    .listGame {
    	width: 50vw;
    }

    .tsImg {
    	width: 50vw;
    }

    .topSellersTitle {
    	text-align: center;
    }

}

@media only screen and (max-width: 560px) {
    .search {
    	margin-left: 30vw;
    }

    footer .logo {
    	display: none;
    }

    .fgBtn {
    	display: none;
    }
}

@media only screen and (max-width: 915px) {
	.searchbtn {
		position: relative;
	}

	.searchbar {
		padding-left: 6vw;
	}
    .footer-search {
    	display: none;
    }

    .footer-nav {
    	display: none;
    }

    .copy {
    	margin-top: 6vh;
    	padding-top: 7vh;
    }
}

@media only screen and (max-width: 915px) {

}
