body {
	font-family: 'Play', sans-serif;
}

a {
	color: #28d693;
	text-decoration: none;
}

a:hover {
	color: #28d693;
	text-decoration: none;
}

.nav-link {
	color: #28d693;
	font-size: 2vh;
}

.active {
	background-color: #28d693;
}

.mobileTitle {
	display: none;
}

.descb {
	max-width: 100%;
}

.gameImg {
	display: block;	
	border-radius: 3px;
	/*margin: 0 auto;
	border: 1px solid #28d693;*/
}

.storePrice {
	height: 12vh;
}

.gameDescription {
	margin-bottom: 5vh;
}

.gameDescription img {
	max-width: 100%;
}

.hsBtn {
	height: 5vh;
}

.hsBar {
	height: 5vh;
}

.quickEx {
	font-size: 2vh;
}

.homepageLogo {
	display: block;
	width: 30vw;
}

.searchResult {
	padding-bottom: 2vh;
	border-bottom: 1px solid #28d693;
}

.searchResult a {
	font-size: 3vh;
}

.rI {
	float: right;
}

.resultInfo {
	float: left;
	list-style: none;
}



.thumbnail {
	width: 20vw;
	margin-right: 4vw;
}





@media only screen and (max-width: 991px) {
    .mobileTitle {
    	display: inline-block;
    	padding-bottom: 3vh;
    }

    .gameTitle {
    	display: none;
    }
}

@media only screen and (max-width: 700px) {
    .storeIcon {
    	display: none;
    }

   .storeLink {
    	display: inline-block;
		font-size: 6em;
    }
}

@media only screen and (max-width: 580px) {
    .gameInfoCnt {
    	margin-left: 2vw;
    }

    .gameImg {
    	margin-left: 0;
		width: 100%;
	}

	.hsBtn {
		margin-right: 0px;
	}
}